.menu{
    display:flex;
    float:left;
    width: 10%;
    height: 1000px;
    list-style-type: none;
    font-family: 'Lucida Grande', serif;
    background-color: rgb(99, 250, 99);
    color: black;
    font-size: 18px;
}

body{
    background-color: rgb(176, 231, 176);
}

h1{
    font-size: 24px;
    font-family: 'Lucida Grande', serif;
    color: darkgreen
}

h2{
    font-size: 20px;
    font-family: 'Lucida Grande', serif;
    color:forestgreen
}

h3{
    font-size: 20px;
    font-family: 'Lucida Grande', serif;
    color: mediumseagreen;
}

dt{
    font-size: 18px;
    font-family: "Lucida Grande", serif;
    color:mediumseagreen
}

dd{
    font-size: 15px;
    font-family: "Lucida Grande",serif;
}

ul{
    font-size: 15px;
    font-family: "Lucida Grande",serif;
}

ol{
    margin-left: 150px;
}
p{
    font-family: "Lucida Grande", serif;
    font-size: 15px;
}

footer{
    color:rgb(47, 122, 66)
}

#currentpage a{
    color:rgb(7, 97, 15);
    font-size: 19px;
    border: 1px solid black;
    border-radius: 5px;
}